<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About page</title>
  </head>
  <body>
    {{>header}}
    <h2>About us</h2>
    <p>Our company...</p>
    {{>footer}}
  </body>
</html>
